apiVersion: v1
kind: ConfigMap
metadata:
  name: message-service
  namespace: {{ .Release.Namespace }}
data:
  application.yml: |-
    spring:
      data:
        mongodb:
          host: mongo-svc
---
  
apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: message-service
    app.kubernetes.io/name: message-service
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: {{ .Values.messageService.replicas }}
  selector:
    matchLabels:
  {{- include "message-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
    {{- include "message-service.selectorLabels" . | nindent 8 }}
    
    spec:
      containers:
        - name: message-service
          image: "mrflick72/message-service:{{ .Values.messageService.image.tag }}"
          imagePullPolicy: {{ .Values.messageService.image.pullPolicy }}
          ports:
            - containerPort: 8080

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
---

kind: Service
apiVersion: v1
metadata:
  name: message-service
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "message-service.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "message-service.selectorLabels" . | nindent 4 }}
  ports:
    - protocol: TCP
      port: 8080
      name: http
